.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px); // 100vh lo magar topbar wali jo 70px hai osay chorh do
        background-color: lightsalmon;
        position: relative;
        top: 70px;
        scroll-behavior: smooth; // href per click karenge tou smoothly hota hua top per jayega
        scroll-snap-type: y mandatory; // y mai snap karni hai
        scrollbar-width: none; // for firefox
        
        &::-webkit-scrollbar{
            display: none; // this for chrome, safari etc
        }

        *{
            width: 100vw;
            height: calc(100vh - 70px); // 100vh lo magar topbar wali jo 70px hai osay chorh do
            scroll-snap-align: start ; // snap kardega boxes ko scroll karne per
        }

    }

}